.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.h-screen{
    height: 100vh;
}

.bg-white{
    background-color: #fff;
}
.w-400{
    width: 400px;
}

.p-1{
    padding: 10px;
}  

.p-2{
    padding: 20px;
}

.p-3{
    padding: 30px;
}