.map-container {
    border: 3px solid #3a3b41;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;

}

.patient-mainbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    /* Add a vertical scrollbar when content overflows */
    max-height: 300px;
    /* Set a maximum height for the box; adjust as needed */
}

.patient-box {
    margin-bottom: 10px;
    /* Adjust the margin as needed to separate objects */
}

.btn-reset {
    margin-left: 89%;
}

.btn-direction {
    margin-top: 10px;
    /* Add spacing between button and other content */
}

.btn-current {
    margin-top: 10px;
    /* Add spacing between button and other content */
}

button {
    appearance: none;
    background-color: #FFFFFF;
    border-radius: 40em;
    border-style: none;
    box-shadow: #ADCFFF 0 -12px 6px inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

button:active {
    transform: translateY(-1px);
}

.h5 {
    background-color: #897dfacc;
    color: white;
    padding: 30px;
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
    font-size: 2rem;

}

.h5 .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);

}

.form-container {
    background-color: rgba(255, 255, 255, 0.691) !important;
    border-radius: 120% 120% 100% 100% / 60%;
}