.map-container {
    border: 3px solid #3a3b41;
    border-radius: 20px;
    overflow: hidden;
}

.patient-mainbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.patient-box {
    margin-bottom: 10px; /* Adjust the margin as needed to separate objects */
}

.btn-locate {
    margin-top: 10px; /* Add spacing between button and other content */
}

