.map-container {
    border: 3px solid #3a3b41;
    border-radius: 20px;
    overflow: hidden; 
    margin-bottom: 20px;    

}

.patient-mainbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto; /* Add a vertical scrollbar when content overflows */
    max-height: 300px; /* Set a maximum height for the box; adjust as needed */
}

.patient-box {
    margin-bottom: 10px; /* Adjust the margin as needed to separate objects */
}

.btn-reset{
    margin-left : 89%;
}

.btn-direction {
    margin-top: 10px; /* Add spacing between button and other content */
}

.btn-current{
    margin-top: 10px; /* Add spacing between button and other content */
}

button {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    background-color: #69c5f0;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #4907ab81;
    box-shadow: 0px 15px 20px rgb(0, 16, 106);
    color: #0b0a0a;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }


